.feature__container {
    .feature {
        margin: 0 auto;

        @include breakpoint-up(medium) {
            margin: 4.5rem auto;
        }

        &__info {
            display: flex;
            align-items: center;
            background: #F6FBFF;
            padding: 5rem 0 2.4rem;
            flex-direction: column;
            justify-content: center;

            @include breakpoint-up(medium) {
                flex-direction: row;
                padding: 3.5rem 0 2rem 7.5rem;
            }

            &:nth-child(1) {
                background: none;
            }
        }

        &__top__bg {
            height: 100px;
            background-repeat: no-repeat;

            @include breakpoint-up(medium) {
                height: 155px;
            }
        }

        &__bottom__bg {
            height: 55px;
            background-repeat: no-repeat;

            @include breakpoint-up(medium) {
                height: 145px;
            }
        }

        &__text {
            flex: 0.65;
            text-align: center;

            @include breakpoint-up(medium) {
                text-align: left;
            }

            h1 {
                margin-bottom: 0;
                font-size: 1.26rem;
                color: $veryDarkCyan;

                @include breakpoint-up(medium) {
                    font-size: 2.3rem;
                    margin-bottom: 1.125rem
                }
            }

            p {
                line-height: 1.5;
                font-size: 14.4px;
                padding: 0 1.5rem;
                color: $veryDarkCyan;
                text-shadow: 0 0 #88d;

                @include breakpoint-up(medium) {
                    padding: 0;
                    font-size: 0.9375rem;
                }
            }
        }

        &__image {
            flex: 1;
            order: -1;
            display: flex;
            margin-bottom: 3.9rem;
            justify-content: flex-end;

            @include breakpoint-up(medium) {
                order: 0;
                margin-bottom: 0;
            }

            &:nth-child(1) {
                display: block;
            }

            img {
                width: 71%;
                margin: auto;
                display: block;

                @include breakpoint-up(medium) {
                    width: 67%;
                    display: inline;
                }
            }
        }
    }

    .grow__together {
        .feature__top__bg {
            background-image: url("../images/bg-section-top-mobile-1.svg");

            @include breakpoint-up(medium) {
                background-image: url("../images/bg-section-top-desktop-1.svg");
            }
        }

        .feature__bottom__bg {
            background-image: url("../images/bg-section-bottom-mobile-1.svg");

            @include breakpoint-up(medium) {
                background-image: url("../images/bg-section-bottom-desktop-1.svg");
            }
        }

        .feature__image img {
            width: 69%;

            @include breakpoint-up(medium) {
                width: 65%;
            }
        }
    }

    .flowing__conversation {
        .feature__info {
            margin: 3.3rem auto 0;

            @include breakpoint-up(medium) {
                margin: 4.5rem auto;
            }
        }

        .feature__text {
            flex: 1;

            p {
                width: auto;

                @include breakpoint-up(medium) {
                    width: 30rem;
                }
            }
        }

        .feature__image img {
            width: 71%;
            margin-bottom: 0.7rem;

            @include breakpoint-up(medium) {
                width: 80%;
                margin-bottom: 0;
            }
        }
    }

    .your__users {
        margin-top: 4rem;

        @include breakpoint-up(medium) {
            margin-top: 0;
        }

        .feature__info {
            padding: 1.3rem 0 6rem;

            @include breakpoint-up(medium) {
                padding: 3.5rem 0 2rem 7.5rem;
            }
        }

        .feature__top__bg {
            background-image: url("../images/bg-section-top-mobile-2.svg");

            @include breakpoint-up(medium) {
                background-image: url("../images/bg-section-top-desktop-2.svg");
            }
        }

        .feature__bottom__bg {
            height: 105px;
            background-image: url("../images/bg-section-bottom-mobile-2.svg");

            @include breakpoint-up(medium) {
                height: 145px;
                background-image: url("../images/bg-section-bottom-desktop-2.svg");
            }
        }
    }
}