.footer {
    color: #fff;

    &__top__bg {
        height: 50px;
        background: url("../images/bg-footer-top-mobile.svg");
        background-repeat: no-repeat;

        @include breakpoint-up(medium) {
            height: 155px;
            background: url("../images/bg-footer-top-desktop.svg");
        }
    }

    &__wrapper {
        margin: auto;
        display: flex;
        flex-direction: column;
        background: $veryDarkCyan;
        padding: 4rem 1.7rem 3rem;
        grid-template-columns: 1.3fr 1fr;

        @include breakpoint-up(medium) {
            display: grid;
            flex-direction: row;
            padding: 7rem 7rem 6rem;
        }
    }

    &__logo {
        width: 12.5rem;

        @include breakpoint-up(medium) {
            width: 13.5rem;
        }
    }

    &__desc {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;

        @include breakpoint-up(medium) {
            grid-template-columns: 0.06fr 1fr;
        }

        &:nth-child(2) {
            margin: 1.4rem 0 1rem;

            @include breakpoint-up(medium) {
                margin: 0.5rem 0 0.8rem;
            }
        }

        p {
            width: 18rem;
            line-height: 1.7;
            font-size: 13.5px;
            color: $veryPaleBlue;

            @include breakpoint-up(medium) {
                font-size: 0.9375rem;
                width: 20.625rem;
            }

            &:nth-child(2) {
                margin: 0;
            }
        }

        img {
            width: auto;

            @include breakpoint-up(medium) {
                width: 1.125rem;
            }
        }
    }

    &__social {
        width: 6.5rem;
        display: flex;
        margin-top: 3rem;
        align-items: center;
        justify-content: space-between;

        @include breakpoint-up(medium) {
            width: 8.5rem;
            margin-top: 5rem;
        }

        img {
            width: 1.5rem;

            @include breakpoint-up(medium) {
                width: 1.875rem;
            }

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }

    &__newsletter {
        order: -1;
        margin-bottom: 5rem;

        @include breakpoint-up(medium) {
            order: 1;
            margin-bottom: 0;
        }

        h2 {
            margin-top: 0;
            font-weight: 600;
            font-size: 1.25rem;
            font-family: $normalFont;
            text-transform: uppercase;

            @include breakpoint-up(medium) {
                font-size: 21.5px;
            }
        }

        p {
            width: 19rem;
            line-height: 1.7;
            color: $veryPaleBlue;

            @include breakpoint-up(medium) {
                width: 21rem;
            }
        }

        &__form {
            width: auto;
            margin: auto;
            display: flex;
            padding: 1.5rem 0;
            align-items: flex-end;
            flex-direction: column;
            justify-content: space-between;

            @include breakpoint-up(large) {
                width: 30rem;
                align-items: center;
                flex-direction: row;
            }

            input {
                width: 100%;
                border: none;
                outline: none;
                font-size: 1rem;
                border-radius: 5px;
                padding: 0.875rem 1.125rem;

                @include breakpoint-up(large) {
                    width: 62%;
                }
            }

            .form__btn {
                width: 50%;
                font-size: 0.875rem;
                font-weight: 600;
                margin-top: 1rem;
                background: $pink;
                position: relative;
                text-align: center;
                border-radius: 5px;
                color: $veryPaleBlue;
                padding: 0.75rem 1.25rem;
                border: 2px solid transparent;
                transition: all 0.3s ease-in-out;

                @include breakpoint-up(large) {
                    width: 30%;
                    margin-top: 0;
                }

                &:hover::before {
                    opacity: 1;
                }
            }
        }
    }

    &__small__p {
        font-size: 0.875rem !important;
    }
}