.header {
    display: flex;
    margin: 1.6rem auto;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-up(medium) {
        margin: 4.5rem auto;
    }

    &__logo {
        width: 6.7rem;

        @include breakpoint-up(medium) {
            width: 14rem;
        }
    }

    &__btn {
        color: $pink;
        font-size: 0.67rem;
        border-radius: 1.2rem;
        border: 1px solid $pink;
        padding: 0.35rem 1.2rem;
        text-transform: capitalize;
        
        @include breakpoint-up(medium) {
            font-size: 0.9rem;
            padding: 0.5rem 1.75rem;
        }
    }
}