.ready-to-build {
    display: flex;
    margin: 3rem auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include breakpoint-up(medium) {
        margin: 6.8rem auto 10rem;
    }

    h1 {
        font-size: 1.5rem;
        text-align: center;
        color: $veryDarkCyan;
        margin-bottom: 2.375rem;

        @include breakpoint-up(medium) {
            font-size: 2.3125rem;
        }
    }
}